body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:#9ec4c9;
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/*contrasena*/
.password-form {
  text-align: center;
  margin-top: 50px;
}

#password-input{
width: 30%;
height: 40px;
color: #4d8386;
font-family: soria;
font-size: 20px;
margin-bottom: 30px;
background-color: #ffffffa4;
border-color:#00000000 0px;
border-radius: 70px;
text-align: center;
}

#submit-button{
width: 7.5%;
height:40px;
position:relative;
top:25px;
background-color: #ffffffa4;
border-radius: 70px;
}

#botonbuscar{
width:2px;
font-family: soria;
font-size: 25px;
color:#757575;
margin-bottom: 1px;
position:relative;
top:-22px;

}

.fondocontra{
width:100%;
height:104.5%;
position:absolute;
top:-30px;
left:-1px;
z-index:-3;

}

.titulocontraprincipal2{
width:90%;
position: relative;
top: 30px; 
z-index:- 10;
background-color: #ffffff;
border: #d4d4d4 solid 5px;
border-radius: 50px;
}

.textsecundarycontra{
width: 50%;
color: #4d8386;
font-family: soria;
font-size: 2em;
margin-bottom: 30px;
background-color: #ffffffa4;
border-radius: 70px;
}
.espaciotitulocontra{
  width: 150px;           /* Ancho de 150 píxeles */
  height:80px;          /* Alto de 150 píxeles */
  background: rgba(255, 0, 0, 0);        /* Fondo de color rojo */
  border: 0px solid #00000000; /* Borde color negro y de 1 píxel de grosor */
}

#content_glob {
  display: none;
}
/* fin de contrasena*/ 

/*Portada*/


.catsandstars {

background-color: #086086;
color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 5;
}



.cuadrodemenu{
width: 150px;           /* Ancho de 150 píxeles */
height: 90px;          /* Alto de 150 píxeles */
background: rgba(255, 0, 0, 0);        /* Fondo de color rojo */
border: 0px solid #000; /* Borde color negro y de 1 píxel de grosor */
position:absolute;
}

.logosuperior0{
width: 1150px;
}
.logosuperior1{
width:1000px;
position: fixed;
left: 30px;
top:35px;
}
.content {
  margin-top: 8.5%; /* Ajusta esto para evitar que el contenido se superponga con el encabezado */
}


/*menunuevo*/

.sidebar {
position: absolute;
height: 1100%;
width: 0;
top:40px;
left: 0.000000000000000000000000000000000001px;
z-index: -2;
background-color: #086086b7;
overflow-x: hidden;
transition: 0.0s;
padding: 1rem 0;
box-sizing:border-box;
border-top:px solid #00000000;

}

.sidebar .boton-cerrar {
position: absolute;
top: 0.5rem;
right: 1rem;
font-size: 2rem;
display: none;
padding: 0;
line-height: 1.5rem;
margin: 0;
height: 32px;
width: 32px;
text-align: center;
vertical-align: center;
}

.sidebar ul, .sidebar li{
top:0px;
margin:0;
padding:0;
list-style:none inside;
border:#00000000 10px solid;
border-radius: 80px;
}

.textomenu{
position:relative;
top:-px;
background-color:#1476a0b7;
text-decoration: none;  
}

.tamlogodemenu{
height:50px;
position:relative;
top:-10px;
}
.sidebar ul {
margin: 4rem auto;
display: block;
width: 80%;
min-width:200px;
word-spacing: 2px;
}

.sidebar a {
display: block;
font-size: 100%;
color: #ffffff;
text-decoration: none;
padding: 1px;
font-size:18px;
background-color:#2ff5ff00;
}

.sidebar a:hover{
color:#ffffff;
border-radius: 80px;
}



h1 {
color:#21351f00;
font-size:100;
font-weight:normal;
}
#contenido {  
transition: margin-left .0s;
padding: 1rem;
}

.abrir-cerrar {
color: #ffffff;
font-size:1rem;   
text-decoration: none;
}

#abrir {
font-size:25px;
font-family: arial black;
}
#cerrar {
display:none;
font-size:25px;
font-family: arial black;
}
/*fin nuevo*/
/*fin de portada*/
/*contenido*/






.cudroinicialrecursoseducativos{
  border-radius: 0;
  width: 1200px;           /* Ancho de 150 píxeles */
  height: 200px;          /* Alto de 150 píxeles */     /* Fondo de color rojo */
  position:relative;
  top:20px;
}
.esquinadeseccioneducativa{
  z-index: 2;
  position:absolute;
  top:135px;
  left:75px;
}
.text-cudroinicialrecursoseducativos1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 55px;
  color:#604219;
  z-index:2;
  position:absolute;
  top:200px;
  left:100px;
}

.text-cudroinicialrecursoseducativos2{
  width: 600px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color:#604219;
  z-index:2;
  position:absolute;
  top:280px;
  left:120px;
}

.cuadradodedivicionvideo {
  width: 20px;  
  height: 150px;      
  background: rgba(255, 0, 0, 0);  
  border: 0px solid #000; 
}
/*video*/
.cuadrodetitulodevideo{
  width: 100%;  
  height: 80px;      
  background: rgba(255, 0, 0, 0);  
  border: 0px solid #000;  
}
.cuadrodetitulodevideo a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #043339;
}
.videopublicitario{
  border: #103f53 20px solid;
  border-radius: 10%;
}
/*fin del video*/
/*divicion*/
.cuadradodedivicionboton {
  width: 150px;  
  height: 40px;      
  background: rgba(255, 0, 0, 0);  
  border: 0px solid #000; 
}
/*fin divicion*/
/*boton de entrar a videos de profesores*/
.cuadroopsionrecursosprof {
  width: 50%;  
  height: 50px;      
  background: rgba(255, 0, 0, 0);  
  border: 0px solid #000; 
  border-radius: 20%;
}
/*fin boton de entrar a videos de profesores*/
/*cuadro de titulo */
.cuadrodetitulodecurososdeslizables{
  
  border-top: #08608600 30px solid;
  width: 800px;  
  height: 80px;      
  background: rgba(255, 0, 0, 0);  
  
}
.cuadrodetitulodecurososdeslizables a{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color:#ffffff;
  background-color:  #013349;
  border: #013349 solid 10px;
  border-radius: 10px;
}
/*fin de cuadro de titulo */




/*carrucel de contenido de cursos*/
.biu{
  width: 320px;
  height: 120px;
  position :relative;
  top:65px;
  background-color: #9ec4c9;
  object-fit: cover;
}

.text-cuadrodetitulodecursos{
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #013349;
  position: relative;
  top:20px;
  text-align: center;
  position :relative;
  top:120px;
  background-color: #9ec4c9;
  border:solid #9ec4c9 30px;
}

.container{
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  width: 95%;
  padding: 30px;
  
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width:100%;
  height: 315px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#c3da8a00;
}

ul.slider li {

  width: 305px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #9b161600; 
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.cambio{
  text-align: center;
  margin: 20px;
}

.cambio li{
  display: inline-block;
  text-align: center;
  border-radius: 100%;
}

.cambio li .option1{
  display: inline-block;
  background-color: #086086;
  text-decoration: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 100%;
}

.cambio li .option1 a{
  color:white;
  position:relative;
  bottom: 40%;
  border: white solid 20%;
}

.cambio li .option2{
  display: inline-block;
  background-color: #086086;
  text-decoration: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 100%;
}

.cambio li .option2 a{
  color:white;
  position:relative;
  bottom: 40%;
  border: white solid 20%;
}

.cambio li .option3{
  display: inline-block;
  background-color: #086086;
  text-decoration: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 100%;
}

.cambio li .option3 a{
  color:white;
  position:relative;
  bottom: 40%;
  border: white solid 20%;
}

.cambio li .option4{
  display: inline-block;
  background-color: #086086;
  text-decoration: none;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 100%;
}

.cambio li .option4 a{
  color:white;
  position:relative;
  bottom: 40%;
  border: white solid 20%;
}

/* fin de carrusel de productos*/

.diviciondelink{
  width: 100px;
  height: 50px;
}




/*LIKS DE RECURSOS DE BIBLIOTECA*/
.secciondelinkdeapoyo {
  display: flex; /* Utilizar flexbox para mostrar en horizontal */
  border-top: 3px solid #ccc;
  width: 95%;
  height: 7 00px;
  
}

.seccion-estaticadeimagen {
  flex: 0 0 auto; /* Evitar que las secciones crezcan */
  padding: 10px;
  min-width: px; /* Ancho mínimo para las secciones */
  position:relative;
  top:90px;
}

/* Estilos para la sección dinámica */
.seccion-dinamicadelinks {
  overflow-y: auto; /* Permitir desplazamiento vertical */
  width:100%;
}

#linksdeapoyo li {
  
  list-style: none;
  padding: 0;
  height: 150px;
}

#imagenestatica li {
  padding: 8px;
  background-color: #ffffff;
  border: solid 7px #786355;
  width: 81%;
  height: 30px;
  border-radius: 10%;
}

.imagenestaticaproductocas{
  border:#786355 solid 0px;
}

.invisible{  
  color: #00000000;
}

.cuadrantedetitulodelink{

  width: 150px;  
  height: 90px;      
  background:#00000000 ;  
  border-bottom: 5px solid #00000000; 
  position:relative;
  top:30px;
  left:-170px;
}
.cuadrantedetitulodelink .textodelinkseducativos{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#000;
  text-align:justify;
  font-size: 60px;
}
.cuadrantedelinkdebiblioteca{
  width: 400px;  
  height: 60px;      
  background:#013349;  
  border: 0px solid #000; 
  position:relative;
  top:70px;
  border-radius: 10px;
}
.cuadrantedelinkdebiblioteca .textcuadrantedelinkdebiblioteca{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  position: relative;
  top:13px;
  font-size: 30px;
}
.cuadrantedelinkdepagib{
  width: 400px;  
  height: 60px;         
  background:#013349;  
  border: 0px solid #000;
  position:relative;
  top:40px; 
  border-radius: 10px;
}
.cuadrantedelinkdepagib .textcuadrantedelinkdepagib{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  position: relative;
  top:13px;
  font-size: 30px;
}
.cuadrantedelinkdeguiayexam{
  width: 400px;  
  height: 60px;         
  background:#013349;  
  border: 0px solid #000; 
  position:relative;
  top:10px; 
  border-radius: 10px;
}
.cuadrantedelinkdeguiayexam .textcuadrantedelinkdeguiayexam{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  position: relative;
  top:13px;
  font-size: 30px;
}
.Editorpremiumultramaravillatheorigines{
  font-size: 3px;
  color: #00000000;
}





/*fin de contenido*/











/*pie de pagina*/
/*pie de pagina*/




body .footer {
  z-index: 1;
  --footer-background:#086086;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  width: 93%;
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  height: 0.1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
  position:relative;
  top:162px;
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}


/*fin de pie de pagina*/
/*fin de pie de pagina*/
*{
  border:#000 solid px;
}